{% extends 'BASE.html' %}
{% load static %}

{% block Nombretitulo %}{{titulo}} {% endblock %}


{% block enlacesCCS_2 %}

      
      <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
  
{% endblock %}



{% block botonMenuSuperior %}

{% endblock %}



{% block completo%}

                        
                <div class="form-structor">

                    <div class="signup">
                      <h2 class="form-title" id="signup"><span>or</span>Registrar Usuario</h2>
                      <div class="form-holder">
                        <input type="text" class="input" placeholder="Name" />
                        <input type="email" class="input" placeholder="Email" />
                        <input type="password" class="input" placeholder="Password" />
                      </div>
                      <button class="submit-btn">Registrar</button>
                    </div>

                    <form action="#" method="post">
                        {% csrf_token %}
                      <div class="login slide-up">
                        <div class="center">
                          <h2 class="form-title" id="login"><span>or</span>Iniciar Sesion</h2>
                          <div class="form-holder">
                            {{form.username}}
                            {{form.password}}
                          </div>
                          <input type="submit" class="submit-btn" value="Entrar">
                        </div>
                      </div>

                    </form>
                </div><!--- fin de for structor--->
            
            
            
            {% endblock %}


            {% block enlacesJS_2 %}

            <script  src="{% static 'login/js/login.js' %}"></script>
                
            {% endblock %}